<html>
<head>
    <link rel="stylesheet" href="http://sammer.xyz/mainStyles.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Mukta+Malar:200,300,regular,500,600,700,800" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"
        rel="stylesheet" />
</head>

<body>
    <div class="sidebar">
        <div class="title">
            <h1>WESTRIVER</h1>
        </div>
        <div class="infoLine user">
            {{#if morning}}
                <p>Good Morning,</p>
            {{else}}
                <p>Good Afternoon,</p>
            {{/if}}
            <p>{{firstName}} {{lastName}}</p>
        </div>
        <div class="infoLine active">
            <img src="http://sammer.xyz/home.svg" />
            <p>Home</p>
        </div>
        <div class="infoLine classButton">
            <img src="http://sammer.xyz/class.svg" />
            <p>Courses</p>
            <img class="arrow" src="http://sammer.xyz/arrow_down.svg" />
        </div>
        <div class="classSidebar">
            {{#each courses}}
            <div class="infoLine class">
                <p>{{this.courseName}}</p>
            </div>
            {{/each}}
        </div>


        <div class="infoLine">
            <img src="http://sammer.xyz/account.svg" />
            <p>Account</p>
        </div>
    </div>
    <main class="classList">
        <h1 class="mainHeader">Classes</h1>
        <div class="classes">


            {{#each courses}}
            <div class="classCard">
                <div class="className">
                    <h3>{{this.courseName}}</h3>
                    <div class="currentGrade green">
                        86%
                    </div>
                </div>
                <div class="classContent">
                    <div class="leftInfo">
                        <p>Section</p>
                        <p>Time</p>
                        <p>Teacher</p>
                    </div>
                    <div class="rightDetails">
                        <p>MAT 210</p>
                        <p>9:00 AM - 10:15 AM</p>
                        <p>Abby Barrett</p>
                    </div>
                </div>
            </div>
            {{/each}}


        </div>
    </main>
    <footer>

    </footer>


    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://sammer.xyz/jQueryRotate.js"></script>
    <script src="http://sammer.xyz/scripts.js"></script>
    
</body>

</html>